<div class="row" style="width: 18rem;" style="text-align: center;">
  <li routerLinkActive="active"></li>
  <div class="card-body">
    <img src="assets/loginicon.jpg" width="100px" height="100px">
    <h5 class="card-title">Customer Log In</h5>
    <p class="card-text">If existing user Log In and Taste:</p>
    <a routerLink='/login' class="btn btn-primary">Log In</a>
  </div>
  <div class="card-body" style="text-align: center;">
    <img src="assets/sign-up.png" width="100px" height="100px">
    <h5 class="card-title">Customer Sign Up</h5>
    <p class="card-text">If new user Sign Up and Taste:</p>
    <a routerLink='/addcustomer' class="btn btn-primary">Sign Up</a>
  </div>
  <div class="card-body" style="text-align: center;">
    <img src="https://gcelt.gov.in/assets/images/admin_icon.png" width="100px" height="100px">
    <h5 class="card-title">Log In as Administrator</h5>
    <p class="card-text">Log in and administrate!</p>
    <a routerLink='/adminLogin' class="btn btn-primary">Admin Log In</a>
  </div>
</div>