<div class="header" style="text-align:center;" >
  <fieldset style="border: 2px solid brown;">
    <div >
      <img alt="Logo" src="assets/app logo.jpg">
    </div>
    <!-- <img alt="home" src="assets/home.png" (click)="nav()" id="home"> -->
    <div>
      <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;">
        Welcome to {{ title }}!
      </h1>
      <h3 style="font-family:Georgia, 'Times New Roman', Times, serif;">
        Heaven in each Slice!
      </h3>
    </div>
  </fieldset>
</div>