<fieldset style="border: 2px solid brown;">
  <div class="row" style="text-align: center;">
    <div class="card-body">
      <img src="https://l1.pizzainindia.com/assets/osc/ABAAA/images/products/originals/vegextra.png" alt="pizza">
      <h5 class="card-title">Veg Extra</h5>
    </div>

    <div class="card-body">
      <img src="https://l1.pizzainindia.com/assets/osc/ABAAA/images/products/originals/five-peppers.png" alt="pizza">
      <h5 class="card-title">Five Peppers</h5>
    </div>

    <div class="card-body">
      <img src="https://l1.pizzainindia.com/assets/osc/ABAAA/images/products/originals/266X265pix_Corn_cheese.png"
        alt="pizza">
      <h5 class="card-title">Corn Cheese</h5>
    </div>

    <div class="card-body">
      <img src="https://l1.pizzainindia.com/assets/osc/ABAAA/images/products/originals/PaneerMakhni.jpg" alt="pizza">
      <h5 class="card-title">Panner Makhni</h5>
    </div>

    <div class="card-body">
      <img src="https://l1.pizzainindia.com/assets/osc/ABAAA/images/products/originals/mexgreen.png" alt="pizza">
      <h5 class="card-title">Mexico Green</h5>
    </div>
  </div>
</fieldset>